body{
    display:flex;
    flex-direction: column;
    border: solid 2px black;
    padding: 2em;
    
}
p{
    margin: 1px;
}
#textarea{
    display: block;


}
textarea{
    
    min-height: 100px;
    min-width: 50px;
    max-height: 400px;
    max-width: 100vh;
    margin-top: 0px;
}
.input-div{
    margin-top: 1em;
}

#submit{
    align-self: start;
    margin: 2em 0em 0em 0em;
}